body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: #d5dee7;
    color: #ffffff;
    
    
}
.header-title{
    color:black
}

.content {
    background: #f4f6f7;
}

.footer {
    background: #d5dee7;
    color: #ffffff;
}

/* NAVBAR TAB STYLE */
.nav-tab {
    color: white !important;
    padding: 8px 16px;
    border-radius: 6px;
    margin-left: 6px;
    transition: all 0.2s ease;
}

/* ACTIVE TAB */
.nav-tab.active {
    background-color: white;
    color: black !important;
    font-weight: 600;
}

/* HOVER EFFECT */
.nav-tab:hover {
    background-color: rgba(255,255,255,0.2);
}